body {
    background-color: #f0f0f0;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}

.top-bar {
    background-color: #294172;
    height: 3rem;
}

.top-bar .name h1 a {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    font-size: 1.5em;
}

.top-bar .name {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    font-size: 1em;
    color: #ffffff;
}

.top-bar-section .dropdown,
.top-bar-section .has-form {
    background-color: #294172;
    width: 20em;
}

.top-bar input {
    border-radius: 5px 0 0 5px;
    border: 0;
    background: #3c6eb4;
}

.top-bar .button {
    border-radius: 0 5px 5px 0;
    background: rgba(60,110,180,0.5);
    font-weight: bold;
}

.top-bar-section ul li {
    text-align: center;
    width: 11em;
}

.usericon {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.5rem;
}

.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li.active:not(.has-form) a:not(.button), 
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #294172;
    height: 3rem;
}

.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section li.active:not(.has-form) a:not(.button):hover,
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover {
    background: #3c6eb4;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'ubuntu', 'roboto', sans-serif;
}

.container {
    padding: 3rem 0;
}

.panel {
    background: #ffffff;
}

.button.tiny {
    padding: 0.3rem 0.5rem;
}

.button {
    background-color: #3c6eb4;
    margin-bottom: 0.5rem;
}
.button:hover {
    background-color: #294172;
}

hr {
    margin: 0 2rem;
}

