{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
	<div class="large-6 medium-6 columns panel text-center">
	    <img src = "{{ bookimg }}">
	</div>
	<div class="large-6 medium-6 columns">
	    <div class="panel">
		<h1>title</h1>
		edition<br>
		author<br>
		blah<br>
	    </div>
	</div>
    </div>
    <div class="row">
	<div class="large-12 medium-12 columns">
	    <div class="panel">
		<div class="row">
		    <div class="large-10 small-11 columns">
			<p><strong>buy the book</strong></p>
		    </div>
		    <div class="large-2 small-1 column text-right">
			<a href="#" data-reveal-id="addListing" class="tiny round button">Add Listing</a>
		    </div>
		    <div id="addListing" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
			<div class="panel text-center">
			    <div class="row collapse">
				<div class="small-4 columns">
				    <span class="prefix">Book:</span>
				</div>
				<div class="small-8 columns">
				    <input type="text" value="booktitle" readonly="readonly">
				</div>
			    </div>
			    <div class="row collapse">
				<div class="small-4 columns">
				    <span class="prefix">Price:</span>
				</div>
				<div class="small-8 columns">
				    <input type="text" placeholder="Price in AUD">
				</div>
			    </div>
			    <div class="row collapse">
				<div class="small-4 columns">
				    <span class="prefix">Condition:</span>
				</div>
				<div class="small-8 columns">
				    <select>
					<option value="new">New - perfect quality</option>
					<option value="good">Good - unmarked</option>
					<option value="fair">Fair - worn but still complete</option>
					<option value="poor">Poor - Some missing pages</option>
					<option value="cat">Bad - cat chew marks</option>
				    </select>
				</div>
			    </div>
			    <a href="" class="tiny round button">Add you a book!</a>
			</div>
		    </div>
		</div>	
		<div class="row">
		{% for listing in listings %}
		    <div class="large-7 large-offset-1 medium-8 columns">
			{{ listing.seller }}
		    </div>
		    <div class="large-2 medium-2 columns">
			{{ listing.price }}
		    </div>
		    <div class="large-2 medium-2 columns">
			<a href="mailto: {{ listing.contact }}" class="tiny round button">Contact Seller</a>
		    </div>
		{% endfor %}
		</div>
		<hr>
	    </div>
	</div>
    </div>
</div>
{% endblock %}
