{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
	<div class="large-6 medium-6 columns panel text-center">
	    <img src = "{{ bookimg }}">
	</div>
	<div class="large-6 medium-6 columns">
	    <div class="panel">
		<h1>title</h1>
		edition<br>
		author<br>
		blah<br>
	    </div>
	</div>
    </div>
    <div class="row">
	<div class="large-12 medium-12 columns">
	    <div class="panel">
		<p><strong>buy the book</strong></p>
		<div class="row">
		{% for listing in listings %}
		    <div class="large-7 large-offset-1 medium-8 columns">
			{{ listing.seller }}
		    </div>
		    <div class="large-2 medium-2 columns">
			{{ listing.price }}
		    </div>
		    <div class="large-2 medium-2 columns">
			<a href="mailto: {{ listing.contact }}" class="tiny round button">Contact Seller</a>
		    </div>
		{% endfor %}
		</div>
		<hr>
	    </div>
	</div>
    </div>
</div>
{% endblock %}
