{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="large-6 medium-6 columns">
	<div class="panel">
	    <h1>IMAGE HERE</h1>
	</div>
    </div>
    <div class="large-6 medium-6 columns">
	<div class="panel">
	    <h1>title</h1>
	</div>
    </div>
</div>
<div class="row">
    <div class="large-12 medium-12 columns">
	<div class="panel">
	    <p><strong>buy the book</strong></p>
	    <div class="row">
		<div class="large-7 large-offset-1 medium-8 columns">
		    seller info
		</div>
		<div class="large-2 medium-2 columns">
		    price
		</div>
		<div class="large-2 medium-2 columns">
		    <a href="#" class="tiny round button">Contact Seller</a>
		</div>
	    </div>
	    <hr>
	</div>
    </div>
</div>
{% endblock %}
