{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
	<div class="large-12 medium-12 columns">
	    <ul class="accordion panel" data-accordion>
		<li class="accordion-navigation">
		<a href="#courseinfo">Course Information</a>
		<div id="courseinfo" class="content active">
		    <h4 class="blue">{{ course['CODE'] }}</h4>
                    {{ course['NAME'] }}
		</div>
		</li>
		<li class="accordion-navigation">
		    <a href="#required">Required Texts</a>
		    <div id="required" class="content">
			<div class="row">
			{% for book in required %}
			    <div class="large-4 small-12 columns text-center">
				<img src="/images/book/{{ book['ISBN'] }}.jpg"><br>
				<a href="/book/{{ book['ISBN'] }}"><h5 class="blue">{{ book['NAME'] }}</h5></a>
			    </div>
			{% endfor %}
			</div>
		    </div>
		</li>
		<li class="accordion-navigation">
		    <a href="#recommended">Recommended Texts</a>
		    <div id="recommended" class="content">
			<div class="row">
			{% for book in recommended %}
			    <div class="large-4 small-12 columns text-center">
				<img src="/images/book/{{ book['ISBN'] }}.jpg"><br>
				<a href="/book/{{ book['ISBN'] }}"><h5 class="blue">{{ book['NAME'] }}</h5></a>
			    </div>
			{% endfor %}
			</div>
		    </div>
		</li>
	    </ul>
    </div>
</div>
{% endblock %}
