{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
	<div class="large-12 medium-12 columns">
	    <ul class="accordion panel" data-accordion>
		<li class="accordion-navigation">
		<a href="#courseinfo">Course Information</a>
		<div id="courseinfo" class="content active">
		    <h4 class="blue">{{ course['CODE'] }}</h4>
                    {{ course['NAME'] }}
		</div>
		</li>
		<li class="accordion-navigation">
		    <a href="#required">Required Texts</a>
		    <div id="required" class="content">
			<div class="row">
			    <div class="large-4 small-12 columns text-center">
				<img src="nova.jpg"><br>
				<a href=""><h5 class="blue">textbook</h5></a>
			    </div>
			    <div class="large-4 small-12 columns text-center">
				<img src="nova.jpg"><br>
				<a href=""><h5 class="blue">textbook</h5></a>
			    </div>
			    <div class="large-4 small-12 columns text-center">
				<img src="nova.jpg"><br>
				<a href=""><h5 class="blue">textbook</h5></a>
			    </div>
			</div>
		    </div>
		</li>
		<li class="accordion-navigation">
		    <a href="#recommended">Recommended Texts</a>
		    <div id="recommended" class="content">
			<div class="row">
			    <div class="large-4 small-12 columns text-center">
				<img src="nova.jpg"><br>
				<h5 class="blue">textbook</h5>
			    </div>
			    <div class="large-4 small-12 columns text-center">
				<img src="nova.jpg"><br>
				<h5 class="blue">textbook</h5>
			    </div>
			    <div class="large-4 small-12 columns text-center">
				<img src="nova.jpg"><br>
				<h5 class="blue">textbook</h5>
			    </div>
			</div>
		    </div>
		</li>
	    </ul>
    </div>
</div>
{% endblock %}
