{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
	<div class="large-8 columns large-offset-3 sitelogo">
		<div class="row">
		    <div class="large-10 columns text-center">
			<h1><i class="fi-book-bookmark"></i> catticbooks</h1>
			read you a cat today
		    </div>
		</div>
	</div>
    </div>
    <div class="row">
	<div class="large-4 columns">
	    <div class="panel text-center">
		<h4 class="red">Most Popular</h4>
		<img src="nova.jpg"><br>
		<a href="" class="tiny round button">View Details</a>
	    </div>
	</div>
	<div class="large-4 columns">
	    <div class="panel text-center">
		<h4 class="blue">Recently Added</h4>
		<img src="nova.jpg"><br>
		<a href="" class="tiny round button">View Details</a>
	    </div>
	</div>
	<div class="large-4 columns">
	    <div class="panel text-center">
		<h4 class="purple">Cat Recommended</h4>
		<img src="nova.jpg"><br>
		<a href="" class="tiny round button">View Details</a>
	    </div>
	</div>
    </div>
</div>
{% endblock %}
