{% extends "layout.html" %}
{% block content %}
<div class = loginbg>
	<div class="row">
	    <div class="large-4 medium-4 large-offset-4 columns">
		<div class="login panel">
		    <form>
			<div class="row collapse">
			    <div class="small-2  columns">
				<span class="prefix"><i class="fi-paw"></i></span>
			    </div>
			    <div class="small-10  columns login-form">
				<input type="text" placeholder="username">
			    </div>
			</div>
			<div class="row collapse">
			    <div class="small-2 columns">
				<span class="prefix"><i class="fi-mail"></i></span>
			    </div>
			    <div class="small-10  columns login-form">
				<input type="text" placeholder="email">
			    </div>
			</div>
			<div class="row collapse">
			    <div class="small-2 columns ">
				<span class="prefix"><i class="fi-info"></i></span>
			    </div>
			    <div class="small-10  columns login-form">
				<input type="text" placeholder="password">
			    </div>
			</div>
			<div class="row collapse">
			    <div class="small-12 columns">
			    <ul class="button-group round even-2">
			      <li><a href="#" class="button">LOG IN</a></li>
			      <li><a href="#" class="button">SIGN UP</a></li>
			    </ul>
			    </div>
			</div>
		    </form>
		</div>
	    </div>
	</div>
</div>
{% endblock %}
