{% extends "layout.html" %}
{% block content %}
<div class="row">
</div>

<div class="row">
    <div class="large-4 medium-4 large-offset-4 columns">
	<div class="panel">
	    <form>
	        <div class="row collapse">
	        <div class="small-2  columns">
	        <span class="prefix"><i class="fi-torso-female"></i></span>
	        </div>
	        <div class="small-10  columns">
	        <input type="text" placeholder="username">
	        </div>
	        </div>
	        <div class="row collapse">
	        <div class="small-2 columns">
	        <span class="prefix"><i class="fi-mail"></i></span>
	        </div>
	        <div class="small-10  columns">
	        <input type="text" placeholder="email">
	        </div>
	        </div>
	        <div class="row collapse">
	        <div class="small-2 columns ">
	        <span class="prefix"><i class="fi-lock"></i></span>
	        </div>
	        <div class="small-10 columns ">
	        <input type="text" placeholder="password">
	        </div>
	        </div>
	        </form>
	    </div>
    </div>
</div>
{% endblock %}
